body{
    background-color: #04011a;
}

.App{
    text-align: center;
}

.header{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: #b38900;
}

main{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: #b38900;
}